body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.homepage-header{
    position: relative;
    height: 80vh;
}
.header-background{
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: pink;
    color: white;
}
.header-background > p{
    text-align: center;
    font-size: 25vw;
    margin: 0;
    padding: 0;
}
.span-hello{
    letter-spacing: 27px;
}
.span-world{
    letter-spacing: 6px;
}