<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio V2</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    
    <header id="hero">
      <!-- Loading Screen -->
      <div id="loading-screen">
        <div class="type-writer-container">
          <h1><small>Hello I'm</small><span class="type-writer-animation">Bryce Powell-Chimene</span></h1>
        </div>
        <div id="fill-space" class="filled"></div>
      </div>

      <!-- Homepage Content -->
      <div id="homepage-hero" class="hidden">
        <div>
          <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Hendrerit eleifend felis vitae torquent turpis, nibh metus. Justo ullamcorper curabitur sed fermentum justo. Sociosqu est eros posuere vehicula aliquet euismod habitant semper sociosqu.
          </p>
        </div>
      </div>
      
    </header>

    <!-- Nav-bar -->
    <%- include('./partials/navbar.ejs'); %>

    <section id="temp-info">
      THis will be even more information here...
    </section>
    

    <script src="/script/animations.js"></script>
  </body>
</html>
