<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio V2</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <!-- Loading Screen -->
    <section id="hero">
      <div id="loading-screen">
        <h1>Bryce Powell-Chimene</h1>
      </div>
      <h2>Software Developer</h2>
    </section>

    <!-- Homepage Content -->
    <section id="homepage-hero" class="hidden">
      <div>
        <h1>A lot of text and other stuff</h1>
      </div>
    </section>

    <script src="/script/animations.js"></script>
  </body>
</html>
