<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio V2</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </head>
  <body>
    
    <header id="hero">
      <div id="particles-js"></div>

      <div id="this-work">
        <!-- Loading Screen -->
        <div id="loading-screen">
          <div class="type-writer-container">
            <h1><small>Hello I'm</small><span class="type-writer-animation">Bryce Powell-Chimene</span></h1>
          </div>
        </div>

        <!-- Homepage Content -->
        <div id="hero-content-container" class="hidden center-horizontally">
          <div class="hero-content"> 
            <p>
              Lorem ipsum odor amet, consectetuer adipiscing elit. Sociosqu vehicula blandit sollicitudin ultricies himenaeos. 
              Porta a malesuada aliquam blandit mollis laoreet nunc dolor. Tempus congue ac porttitor sagittis ut. 
              Integer nisi nisl scelerisque blandit phasellus blandit natoque est. 
              Diam nibh ornare libero malesuada venenatis feugiat vestibulum risus. Molestie justo montes posuere in aliquet.
            </p>
          </div>
        </div>        
      </div>
    </header>

    <!-- Nav-bar -->
    <%- include('./partials/navbar.ejs'); %>

    <section id="temp-info">
      THis will be even more information here...
    </section>
    

    <script src="/script/animations.js"></script>
  </body>
</html>
