body, html {
  margin: 0;
}
small{
  color: aqua;
  font-size: 0.35em;
}

.hidden {
  display: none;
}
.center-horizontally{
  display: flex;
  justify-content: center;
}

/* Loading Screen */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #000;
  color: #fff;
  font-size: 2rem;
  transition: all 1s ease-in-out;
  z-index: 1000;
}
#loading-screen.shrink {
  position: relative;
  height: 200px;
  background: transparent;
}

/* Typing animation */
.type-writer-container{
  display: inline-block;
  max-width: fit-content;
}
.type-writer-animation{
  display: block;
  letter-spacing: 5px;
  font-size: .6em;
  border-right: 5px solid aqua;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
  typing 2s steps(20),
  cursor .5s step-end infinite alternate;
}
@keyframes cursor{
  50% { border-color: transparent}
}
@keyframes typing {
  from {width: 0}
}

#particle-js{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#this-work{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

/* Hero */
#hero{
  position: relative;
  background-color: black;
  height: 80vh;
}
#hero-content-container {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in;
  background-color: green;
}
.hero-content{
  max-width: 850px;
  min-width: 400px;
  background-color: pink;
}

/* NavBar */
#nav-bar{
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

#temp-info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: yellow;
  height: 1600px;
}