body{
  margin: 0;
}
#homepage-hero > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: beige;
}
#homepage-hero h1 {
  margin: 0;
  margin-bottom: -90px;
  text-align: center;
  font-size: 50pt;
  z-index: 2;
}
#homepage-hero h1 > span{
  display: block;
  font-size: 30pt;
}
#homepage-hero h2 {
  font-family: sans-serif;
  font-size: 50pt;
  font-weight: 400;
  margin: 0;
  margin-top: -90px;
}
#homepage-hero h3 {
  margin: 0;
}
#homepage-hero img{
  height: 400px;
}