body, html {
  margin: 0;
}
small{
  color: aqua;
}
h1, p{
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.center-horizontally{
  display: flex;
  justify-content: center;
}

/* Hero Section */
#hero{
  position: relative;
  background-color: black;
  height: 90vh;
}

#particle-js{ /* Interactive Background */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#hero-container-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  font-size: 2rem;
  transition: all 1s ease-in-out;
  z-index: 1;
}
#hero-container-loading.shrink {
  height: 100%;
  background: transparent;
}

.adjust-width{
  display: flex;
  justify-content: center;
  max-width: 850px;
  min-width: 400px;
  width: 100%;
  background-color: pink;
}
.dummy{
  flex: 0;
  transition: flex 1s;
}
.adjust-width:hover .hovered {
  flex: auto;
}
.type-writer-container{ /* Typing animation */
  display: inline-block;
  flex: 1;
  max-width: fit-content;
}
.type-writer-animation{
  display: block;
  letter-spacing: 5px;
  font-size: .6em;
  border-right: 5px solid aqua;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
  typing 2s steps(20),
  cursor .5s step-end infinite alternate;
}
@keyframes cursor{
  50% { border-color: transparent}
}
@keyframes typing {
  from {width: 0}
}

#hero-content-container { /* Contains Text and CV button */
  opacity: 0;
  transition: opacity 1s ease-in;
  max-width: 850px;
  min-width: 400px;
}


/* NavBar */
#nav-bar{
  position: sticky;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

#temp-info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: yellow;
  height: 1600px;
}